html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 70px !important;
  background-color: #fff !important;
}

input, button, a, .dropdown-menu, .list-group-item, .navbar, .well{
    border-radius: 0px !important;
}

main{
    background-color: #EFEFF1 !important;
    padding-left: 40px !important;
    padding-right: 40px !important;
    min-height: 100%;
    height: auto;
    margin-bottom: -60px;
    padding-bottom: 70px;
}

@media (min-width: 768px) {
  .container {
    width: 705px!important;
  }
}
@media (min-width: 992px) {
  .container {
    width: 880px!important;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1100px!important;
  }
}

.border-bottom-header{
    border-left:0px none !important;
    border-right:0px none !important;
    border-bottom: 5px solid #000 !important;
}

.footer-wrapper{          
    height: 70px;
    bottom:0px;
    border-top: 5px solid #000 !important;
    background-color: #fff !important;
    position:absolute;
}

.margin-0{
    margin: 0px;
}

.margin-top-0{
  margin-top: 10px !important;
}

.margin-top-10{
  margin-top: 10px !important;
}

.margin-bottom-0{
  margin-bottom: 0px !important;
}

.margin-bottom-2{
  margin-bottom: 2px !important;
}

.margin-bottom-10{
  margin-bottom: 10px !important;
}

.margin-bottom-40{
  margin-bottom: 40px !important;
}

.margin-left-1{
  margin-left: 1px !important;
}

.margin-left-5{
  margin-left: 5px !important;
}

.margin-left--20{
    margin-left: -20px;
}

.margin-right-5{
    margin-right: 5px;
}

.padding-0{
    padding: 0px !important;
}

.padding-5{
    padding: 5px !important;
}

.padding-10{
    padding: 10px !important;
}

.padding-right-0{
    padding-right: 0px !important;
}

.padding-left-5{
    padding-left: 5px !important;
}

.padding-left-15{
    padding-left: 15px !important;
}

.padding-left-2{
    padding-left: 2px !important;    
}
.padding-right-2 {
    padding-right: 2px !important;
}

.padding-top-0{
    padding-top: 0px !important;
}

.full-height{
    height: 100%;
}

.vertical-center{
    margin-top: 25%;
}

.text-header {
    color: #dedede;
    text-shadow: 1px 0 0 #000, -1px 0 0 #000, 0 1px 0 #000, 0 -1px 0 #000, 1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;
}

.text-title {
    color: #665656;
}

.col-sm-padding{
    padding: 0 5px 0 0 !important;
}

.no-focus:focus{
    border-color: #ccc !important;
    box-shadow: none !important;
}

.no-background-color{
    background-color: transparent !important;
}

.min-width-350{
    min-width: 350px !important;
}

.text-tooltip:hover .tooltip{
    opacity: 1 !important;
}

.search-background{
    background: url("/Content/images/search-background.jpg") no-repeat fixed center center / cover rgba(0, 0, 0, 0);
    height: 300px;
    margin-left: -40px;
    margin-right: -40px;
}

.cursor-pointer{
    cursor:pointer;
}

input[type='number'] {
    -moz-appearance:textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.input-delimiter{
    background-color: transparent !important;
    border-left: 0px none transparent !important;
    border-right: 0px none transparent !important;
    border-radius: 0px !important;    
}

.no-left-border{
    border-left: 0px none transparent !important;
}

.no-right-border{
    border-right: 0px none transparent !important;
}

.half-width{
    width: 50% !important;
}

.resource-closed {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
}

.resource-open {
    -webkit-transform: rotate(140deg);
    -moz-transform: rotate(140deg);
    -ms-transform: rotate(140deg);
    -o-transform: rotate(140deg);
    transform: rotate(140deg);
}